<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href = "../css/style.css" rel="stylesheet"/>
</head>
<body class="body">
    <div class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.ejs">
                <img src="../images/box.jpg" width="30" height="30" class="d-inline-block align-top">
                Paughers</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.ejs">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="allPosts.ejs">All Posts</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="login.ejs">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signUp.ejs">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>